# Ambientes Virtuais
.venv/
venv/
env/

# Banco de Dados Local (NUNCA suba o banco de dados)
db.sqlite3

# Arquivos de mídia (Uploads, PDFs, imagens)
media/

# Arquivos temporários do Python e PyCharm
__pycache__/
*.pyc
.idea/
.env

# Arquivos temporários gerais
temp/

pagamentos/
/verbas/
verbasindenizatorias/
suprimentosdefundos/

# Arquivos estáticos coletados (gerados pelo collectstatic, não devem ser versionados)
staticfiles/