# Esconde as chaves e senhas
.env

# Esconde a pasta do seu ambiente virtual (vimos no seu erro anterior que ela se chama .venv)
.venv/
venv/

# Esconde arquivos de configuração do próprio PyCharm
.idea/

# Esconde o banco de dados local (se quiser que o banco suba zerado)
db.sqlite3

# Esconde arquivos temporários do Python
__pycache__/
*.pyc