{% extends "layouts/base_form.html" %}

{% block title %}Novo Credor / Fornecedor{% endblock %}

{% block page_heading %}<i class="bi bi-building text-primary"></i> Cadastrar Entidade{% endblock %}
{% block page_subtitle %}Registre um novo credor, fornecedor ou servidor. O CPF/CNPJ sera validado e nao podera ser alterado posteriormente.{% endblock %}

{% block page_actions %}
<a href="{% url 'credores_list' %}" class="btn btn-outline-secondary">Cancelar</a>
{% endblock %}

{% block form_action %}{% url 'add_credor_action' %}{% endblock %}

{% block form_fields %}
{{ form.as_p }}
{% endblock %}

{% block form_actions %}
<a href="{% url 'credores_list' %}" class="btn btn-outline-secondary me-2">Cancelar</a>
<button type="submit" class="btn btn-primary">
    <i class="bi bi-save"></i> Salvar Cadastro
</button>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function () {
        var $tipo = $('#id_tipo');
        var $documento = $('#id_cpf_cnpj');

        if (!$tipo.length || !$documento.length) {
            return;
        }

        function aplicarMascaraPorTipo() {
            var tipo = $tipo.val();
            var valorAtual = $documento.val();

            $documento.unmask();

            if (tipo === 'PF') {
                $documento.mask('000.000.000-00');
                $documento.attr('placeholder', '000.000.000-00');
            } else if (tipo === 'PJ') {
                $documento.mask('00.000.000/0000-00');
                $documento.attr('placeholder', '00.000.000/0000-00');
            } else {
                $documento.attr('placeholder', 'Documento fiscal');
            }

            $documento.val(valorAtual);
        }

        $tipo.on('change', aplicarMascaraPorTipo);
        aplicarMascaraPorTipo();
    });
</script>
{% endblock %}